.newUser{
    flex: 4;
}
.newUserTitle{
    font-weight: 600;
    margin-top: 20px;
    font-size: xx-large;
}
.newUsersForm{
    display: flex;
    flex-wrap: wrap;
}
.newUserItem{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
}
.newUserItem>label{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600px;
    color: gray;
}
.newUserItem>input{
    height: 40px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}
.nweUserGender>input{
    margin-top: 15px;
}
.nweUserGender>label{
    margin: 10px;
    font-size: 18px;
    color: #555;
}
.newUserSelect{
    height: 35px;
    border-radius: 5px;
}
.newUserButton{
    width: 200px;
    border: none;
    background-color: darkblue;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}